<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SpookyPi Controller</title>
<link rel="stylesheet" href="https://roboticobsession.tk/style.css">
<link rel="shortcut icon" href="https://roboticobsession.tk/boris.png" type="image/x-icon">
</head>
<body>
<div class="nav">
<h1 class="nav-brand">SpookyPi Controller</h1>
</div>
<div class="container spaced first">
<div class="sticker-content on-mov">
<img src="boris.png" class="sticker">
</div>
<h1> 
    ZOMBIE (1)
    <a href="/zombie" class="button">Activate</a>  
</h1>
<h1> 
    Stone Wolf (2)
    <a href="/stonewolf" class="button">Activate</a>
</h1>
<h1> 
    Werewolf (3)
    <a href="/werewolf" class="button">Activate</a>
</h1>
<h1> 
    Pumpkin (4)
    <a href="/pumpkin" class="button">Activate</a>
</h1>
<h1> 
    Monster Mash
    <a href="/monstermash" class="button">Activate</a>
</h1>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="39bde2700782a57c4e13d67e-|49" defer=""></script></body>
</html>